* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --main: #2563eb; /* 600 */
  --alt: #60a5fa; /* 400 */
  --bg: #0c0a09;
  --text: #d4d4d4;
  --text-alt: #18181b;
}

html {
  scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: var(--text-alt);
}

header {
  background: var(--main);
}

h1 {
  color: #fff;
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: 4.4rem;
}

nav {
  /* display: none; */
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 1rem;
  padding: 2rem 1rem;
}

.menu li {
  margin-bottom: 0;
}

.menu li a {
  display: inline-flex;
  background: #fff;
  color: var(--main);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.2rem solid #fff;

  transition: background 0.2s;
}

.menu li a:hover {
  background: var(--main);
  color: #fff;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.tool-box {
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 2rem 4rem 4rem 4rem;
  transition: box-shadow 0.3s;
}

.tool-box:hover {
  box-shadow: 0px 0px 10px #dfdfdf;
}

h2 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  color: var(--alt);
}

ul {
  list-style: none;
}

li {
  margin-bottom: 2rem;
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

li:last-child {
  margin-bottom: 0;
}

img {
  width: 30px;
  display: block;
}

a:link,
a:visited {
  color: var(--text-alt);
  font-weight: 500;
  text-decoration: none;

  position: relative;
}

.link:link::after,
.link:visited::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 2px;
  background-color: var(--alt);
  transition: width 0.3s;
}

.link:link:hover,
.link:visited:hover,
ion-icon:hover {
  color: var(--alt);
}

.link:link:hover::after,
.link:visited:hover::after {
  width: 100%;
}

.move-up {
  max-width: fit-content;

  position: fixed;
  bottom: 3rem;
  right: 2rem;

  cursor: pointer;

  opacity: 0;
  transition: opacity 0.3s;
}

.move-up a {
  border-radius: 0.5rem;
  background: var(--text-alt);
  display: flex;
  padding: 1rem;
  color: var(--text);
  font-size: 3rem;
}

footer {
  padding: 2rem;
  margin-top: 5rem;
  background: var(--text-alt);
  text-align: center;
}

footer ion-icon {
  color: var(--text);
  font-size: 3rem;
}

@media (max-width: 785px) {
  section {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .tool-box {
    border: 1px solid var(--text);
  }
}

@media (max-width: 445px) {
  section {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  h2 {
    font-size: 2.4rem;
  }

  li {
    font-size: 1.6rem;
  }

  .move-up a {
    font-size: 2rem;
    padding: 0.5rem;
  }
}
